*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{

background:#0b0b0b;
color:white;
font-family:"Montserrat",sans-serif;

}



:root{

--vermelho:#e50922;
--escuro:#111;
--card:#181818;
--borda:#292929;

}



a{
text-decoration:none;
}






/* HEADER */


.cabecalho{

position:fixed;

top:0;
left:0;

width:100%;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(10,10,10,.75);

backdrop-filter:blur(15px);

border-bottom:1px solid #222;

z-index:100;

}




.logo{

display:flex;

align-items:center;

gap:15px;

}



.logo h1{

font-family:"Bebas Neue";

font-size:45px;

letter-spacing:3px;

}



.cruz{

height:38px;

width:38px;

background:var(--vermelho);

position:relative;

}


.cruz::before{

content:"";

position:absolute;

background:white;

width:10px;

height:28px;

left:14px;

top:5px;

}



.cruz::after{

content:"";

position:absolute;

background:white;

height:10px;

width:28px;

top:14px;

left:5px;

}






nav{

display:flex;

gap:35px;

}



nav a{

color:#ccc;

font-weight:600;

transition:.3s;

}



nav a:hover{

color:white;

}









section{

padding:120px 8%;

}







/* HERO */


.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

position:relative;

overflow:hidden;

}



.hero::before{

content:"";

position:absolute;

inset:0;

background:

linear-gradient(
90deg,
#0b0b0b 30%,
transparent
),

url("assets/alpes.jpg");


background-size:cover;

background-position:center;

opacity:.35;

z-index:-1;

}




.hero-texto{

max-width:650px;

}




.hero h2{

font-family:"Bebas Neue";

font-size:90px;

line-height:0.95;

letter-spacing:2px;

}



.hero h2 span{

color:var(--vermelho);

}




.hero p{

margin-top:30px;

font-size:20px;

line-height:1.7;

color:#ddd;

}




.hero a{


display:inline-block;

margin-top:35px;

padding:18px 35px;

background:var(--vermelho);

color:white;

font-weight:bold;

transition:.3s;

}



.hero a:hover{

transform:translateY(-5px);

box-shadow:0 10px 30px #e5092255;

}




.hero-img img{

width:450px;

border-radius:20px;

border:1px solid #333;

}








/* TITULOS */


.titulo{

text-align:center;

margin-bottom:60px;

}


.titulo h2{

font-family:"Bebas Neue";

font-size:55px;

}



.titulo p{

color:var(--vermelho);

letter-spacing:3px;

}







/* SOBRE */


.sobre{

display:flex;

align-items:center;

gap:70px;

}


.sobre p{

font-size:18px;

line-height:1.8;

color:#ccc;

}


.sobre strong{

color:white;

}



.sobre img{

width:420px;

border-radius:20px;

border:2px solid var(--vermelho);

}








/* CARDS */


.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}



.card{

background:var(--card);

padding:35px;

border:1px solid var(--borda);

border-radius:15px;

transition:.4s;

}



.card:hover{

transform:translateY(-12px);

border-color:var(--vermelho);

box-shadow:0 15px 35px #000;

}



.card h3{

font-size:25px;

margin-bottom:20px;

}



.card p{

color:#aaa;

line-height:1.6;

}









/* FUTEBOL */


.futebol{

display:flex;

align-items:center;

gap:60px;

}



.futebol img{

width:500px;

border-radius:20px;

}



.futebol p{

color:#ccc;

font-size:17px;

line-height:1.7;

}




.selecao{

margin-top:80px;

background:#151515;

padding:50px;

text-align:center;

border-radius:20px;

}



.selecao img{

width:450px;

margin-top:30px;

border-radius:15px;

}









/* CLUBES */


.clubes-box{

display:flex;

justify-content:center;

gap:30px;

}



.clubes-box div{

background:#151515;

padding:35px;

width:260px;

text-align:center;

border-radius:20px;

transition:.3s;

}



.clubes-box div:hover{

transform:scale(1.05);

}



.clubes-box img{

width:130px;

height:130px;

object-fit:contain;

}





/* TURISMO */


.turismo{

display:flex;

gap:30px;

}



.turismo div{

background:#151515;

border-radius:20px;

overflow:hidden;

transition:.3s;

}



.turismo div:hover{

transform:translateY(-10px);

}



.turismo img{

width:100%;

height:250px;

object-fit:cover;

}



.turismo h3,
.turismo p{

padding:15px;

}





/* CURIOSIDADES */


#curiosidades ul{

max-width:700px;

margin:auto;

}



#curiosidades li{

font-size:22px;

padding:20px;

border-bottom:1px solid #333;

color:#ddd;

}





footer{

background:black;

padding:35px;

text-align:center;

color:#888;

}






/* RESPONSIVO */


@media(max-width:900px){


.hero,
.sobre,
.futebol,
.turismo{

flex-direction:column;

}



.hero h2{

font-size:55px;

}



.hero-img img{

width:320px;

}



.cards{

grid-template-columns:1fr;

}



.clubes-box{

flex-direction:column;

align-items:center;

}


nav{

display:none;

}



}